body{
    background-color: darkslategray;
    color: gray;
    font: 14pt "Century Gothic", Futura, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.Pod{
    position: absolute;
    margin: 0;
    padding: 0;
}

.Paddle{
    background-color: white;
    height: 5vh;
    width: 20vw;
}

.Ball{
    width: 5vh;
    height: 5vh;
    background-color: white;
}

.MenuBody{
    position: fixed;
    top: 0;
    height: 100%;
    right: -250px;
    width: 250px;
    z-index: 1;
    background-color: #111;
    transition: 0.5s;
    padding-top: 60px;
    padding-left: 20px;
    text-align: center;
    overflow-y: scroll;
    clip-path: polygon(100% 0, 100% 100%, 20% 100%, 0 0);
}
.MenuIcon{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}
.arrowbtn{
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
    color: inherit; 
}
button{
    width: 50%;
    padding: 5%;
    background-color: #484d4d;
    border: none;
}
.btnChosen{
    background-color:  rgb(160, 43, 60);;
}
.podChoose{
    border-radius: 10px;
    border: 2px solid rgb(255, 67, 95);
    width: 80%;
    overflow: hidden;
    margin: auto;
}





input[type=range].slider {
    -webkit-appearance: none;
    width: 80%;
    margin: 0.7px 0;
  }
  input[type=range].slider:focus {
    outline: none;
  }
  input[type=range].slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 25.6px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #484d4d;
    border-radius: 0px;
    border: 0px solid #010101;
  }
  input[type=range].slider::-webkit-slider-thumb {
    box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
    border: 0px solid #ff1e00;
    height: 27px;
    width: 18px;
    border-radius: 0px;
    background: rgba(255, 67, 95, 0.93);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.7px;
  }
  input[type=range].slider:focus::-webkit-slider-runnable-track {
    background: #4a5050;
  }
  input[type=range].slider::-moz-range-track {
    width: 100%;
    height: 25.6px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #484d4d;
    border-radius: 0px;
    border: 0px solid #010101;
  }
  input[type=range].slider::-moz-range-thumb {
    box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
    border: 0px solid #ff1e00;
    height: 27px;
    width: 18px;
    border-radius: 0px;
    background: rgba(255, 67, 95, 0.93);
    cursor: pointer;
  }
  input[type=range].slider::-ms-track {
    width: 100%;
    height: 25.6px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range].slider::-ms-fill-lower {
    background: #464a4a;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range].slider::-ms-fill-upper {
    background: #484d4d;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range].slider::-ms-thumb {
    box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
    border: 0px solid #ff1e00;
    height: 27px;
    width: 18px;
    border-radius: 0px;
    background: rgba(255, 67, 95, 0.93);
    cursor: pointer;
    height: 25.6px;
  }
  input[type=range].slider:focus::-ms-fill-lower {
    background: #484d4d;
  }
  input[type=range].slider:focus::-ms-fill-upper {
    background: #4a5050;
  }
  